@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;

}
#header {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding:30px 0px;
    margin-top:0px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: linear-gradient(to right ,#373e3b, #4d0303 ) ;  

}

body {
    background-color:hsla(238, 17%, 12%, 50);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
        background-image: url('https://i.ytimg.com/vi/B0_mBve7jOg/maxresdefault.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

}
.black-box {
    padding: 0 0 0 0 ;
    margin-top: 0;
    width: 850px;
    height: 800px; 
    background: linear-gradient(to top, #58029a, #000000);
    position: absolute;
    top: 84px;
    left : 0 ; 
    border-radius: 5px;
    display: align ;
    justify-content: center;
    box-sizing: 4px;

    
}


.black-box h2 {
    position:relative ;    
    font-size: 3rem ; 
    left : 78px ; 
}

.fontbox {
    width: 75%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    top: 100px ; 
    align-items: center;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    width: 191px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}
input[type=submit]:hover {
    background-color: rgb(111, 0, 255);
}
